/*=======================================
Common CSS
=======================================*/


body{
    color: #666666;
    font-size: 16px;
    font-family: Georgia sans-serif;
    line-height: 1.5em;
    margin: 0px;
}
.container{
    margin: 0 auto;
    max-width: 960px;
    width: 96%;
}
img{
    max-width: 100%;
    height: auto;
}
.alignleft{
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
.alignright{
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}
.aligncenter{
    display: block;
    margin: 0, auto, 15px;
}

/*=======================================
Top Header CSS
=======================================*/

.header_area{
    width: 100%;
    clear: both;
}
#top_header{
    background: #cc3333;
    width: 100%;
    padding: 15px 0;
}
.top_inner_header{
    overflow: hidden;
}
.minu_manu{
    padding-top: 5px;
    float: left;
    width: 70%;
}
.minu_manu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}
.minu_manu ul li{
    display: inline-block;
    position: relative;
    margin-right: 20px;
}
.minu_manu ul li::after{
    position: absolute;
    content: "";
    width: 1px;
    height: 13px;
    background: #fff;
    top: 6px;
    right: -10px;
}

.minu_manu ul li:last-child::after{
    display: none;
}

.minu_manu ul li a{
    color: #fff;
    font-size: 14px;
    display: block;
    text-decoration: none;
}
.minu_manu ul li a:hover{
    color: #ddd;
}
.search_area{
    float: right;
    width: 30%;
}
.search_area form{
    background: #fff;
    border-radius: 25px;
    float: right;
    padding: 2%;
    max-width: 210px;
    width: 96%;
}

.search_area input{
    border: 0 solid;
    width: 75%;
    padding: 1%;
    float: left;
    color: #000;
}
.search_area input[type="submit"]{
    width: 23%;
    background: url(../img/scearch.png);
    background-repeat: no-repeat;
    background-position: right;
}



/*=======================================
Main Header CSS
=======================================*/

#main_header_area{
    width: 100%;
    clear: both;
}
.inner_header{
    padding: 40px 0;
    overflow: hidden;
}
.logo_area{
    float: left;
    width: 240px;
    display: block;
    
}
.social_area{
    float: right;
    max-width: 500px;
    width: 100%;
    padding-top: 22px;
}
.social_area ul{
   margin: 0;
   padding: 0;
   list-style: none;
   text-align: right;
}

.social_area ul li{
    display: inline-block;
    margin-left: 10px;
}
 .social_area ul li a{
    display: block;
    text-decoration: none;
}

.social_area ul li a i{
   background: #333333;
   color: #fff;
   width: 35px;
   border-radius: 50%;
   padding-top: 8px;
   text-align: center;
   height: 25px;
   transition: 0.5s;
}
.social_area ul li a i:hover{
   background: #ff9933;
}


/*=======================================
Main Manu CSS
=======================================*/
#main_manu{
    width: 100%;
    clear: both;
}
.inner_manu{
    background: #333333;
    position: relative;
    min-height: 35px;
    padding: 15px 0;
    border-radius: 5px;
    z-index: 1;
}
.inner_manu::after{
    background: #2b2b2b;
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    z-index: -1;
}
#main_manu ul{ 
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
#main_manu ul li{   
    display: inline-block;
    margin: 0 5px;
    position: relative;
}

#main_manu ul li a{
    display: block;
    text-decoration: none;
    padding: 5px;
    color: #fff;   
}
#main_manu ul li a:hover{
    color: #cc3333; 
}

#main_manu ul li:hover a{
    color: #cc3333; 
}
#main_manu ul li:hover ul li a{
    color: #fff; 
}

/*=======================================
Dropdown Manu CSS
=======================================*/

#main_manu ul ul{
    position: absolute;
    background: #333333;
    width: 180px;
    left: -9999999999px;
    top: 35px;
}

#main_manu ul li:hover ul{
    left: 0px;
}

#main_manu ul li:hover ul ul{
    left: -99999999990px;
}

#main_manu ul ul ul{
    left: -99999999990px;
    top: 0px;
}

#main_manu ul li:hover ul li:hover ul{
    left: 180px;
}

#main_manu ul ul li{
    display: block;
    margin: 0;
}

#main_manu ul ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
}

#main_manu ul ul li a:hover{
    background: #CC3333;
    color: #fff;
}

#main_manu ul ul li:hover a{
    background: #CC3333;
    color: #fff;
}


#main_manu ul ul li:hover ul li a{
    background: none;
    color: #fff;
}
#main_manu ul ul li ul li a:hover{
    background: #CC3333;
    color: #fff;
}



/*=======================================
Slider CSS
=======================================*/

#slider_area{
    margin-top: 20px;
    overflow: hidden;
} 
.item{
    position: relative;
}

.slider_caption{
    position:absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider_caption h1{
  color: #fff;
  font-size: 45px;
  font-weight: 800;

}
.slider_caption p{
    color: #fff;
    font-size: 15px;
}


/*=======================================
Hero Area CSS
=======================================*/

#hero_area{
    background: #fff;
    margin: 0;
    padding: 0;
}
.inner_hero{
    overflow: hidden;
}
.inner_hero h1{
    color: #000;
    font-size: 85px;
    font-weight: normal;
    line-height: 1em;
    margin-bottom: 10px;
}
.inner_hero p{
    color: #666666;
    font-size: 16px;
    font-weight: normal;
    line-height: 1em;
}
.inner_hero a{
    float: right;
    color: #cc3333;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}



/*=======================================
Work Area CSS
=======================================*/

#work_area{
    background: #f2f2f2;
    padding: 45px 0;
}

.inner_work{
    overflow: hidden;
}

.child_work{
    width: 32%;
    float: left;
    margin: 0 1% 10px;
}
.child_work h2{
    color: #333333;
    font-size: 26px;
    font-weight: normal;
}
.child_work p{
    color: #878787;
    font-size: 14px;
    font-weight: normal;
}

.child_work a{
    color: #b92d1f;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    clear: both;
    float: right;
    display: block;
}

.about_area{
    margin-left: 0;
}

.about_area img{
    border: 1px solid #dfdfdf;
    padding: 5px;
    display: block;
    margin-bottom: 15px;
}
.service_area{
    overflow: hidden;
}

.child_service{
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}

.child_service .service_image{
    width: 25%;
    float: left;
}
.child_service .service_text{
    width: 75%;
    float: right;
}
.child_service .service_text h3{
    color: #878787;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0px;
}
.child_service .service_text p{
    color: #878787;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}
.testimonial_area{
    margin-right: 0;
}



/*=======================================
Footer Area CSS
=======================================*/

#footer_area{
    background: #fff;
    padding: 30px 0;
}

.inner_footer{
    overflow: hidden;
}
/*
.child_footer{
    padding: 1%;
    margin: 0 1% 10px;
    width: 21%;
    float: left;
}*/

.child_footer{
    margin-right: 2%;
    width: 23%;
    float: left;
}

.child_footer:last-child{
    margin-right: none;    
}


.child_footer h3{
    border-top: 1px solid #666666;
    padding-top: 20px;
    color: #666666;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 0;
}
.child_footer h4{
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.child_footer h6{
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.child_blog h6 a{
    float: none;
    color: #b82c1f;
    margin: 0;
    padding: 0;  
}
.child_footer p{
    color: #666666;
    font-size: 14px;
    margin-top: 0;
}
.child_footer p a{
    color: #b82c1f;
    font-size: 14px;
    text-decoration: none;
}
.child_footer a{
    color: #b82c1f;
    font-size: 14px;
    text-decoration: none;    
}
.child_blog{
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;    
}
.child_blog a{
    float: right;
    color: #b82c1f;   
}
.child_footer ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.child_footer ul li{
    display: block;
    background: url(../img/arrow.png) no-repeat center left;
    padding: 5px 20px;
    border-bottom: 1px solid #666666;
}
.child_footer ul li:last-child{
    border-bottom: 0px solid;
}
.child_footer ul li a{
    color: #666666;
    text-decoration: none;
}

form{
    width: 100%;
    overflow: hidden;
}
.child_footer input{
    background: #f2f2f2;
    padding: 10px 5%;
    border: 0px solid;
    border-radius: 5px;
    margin: 10px 0;
    width: 90%;
}
.child_footer textarea{
    background: #f2f2f2;
    padding: 10px 5%;
    border: 0px solid;
    border-radius: 5px;
    margin: 10px 0;
    width: 90%;
}

.child_footer input[type="submit"]{
    width: 80px;
    color: #b82c1f;
    cursor: pointer;
}
.child_footer input[type="submit"]:hover{
    background: #b82c1f;
    color: #fff;    
}





/*=======================================
Copyright Area CSS
=======================================*/
#copyright_area{
    background:#f2f2f2;
    padding: 20px 0;
}

.inner_copyright{
    overflow: hidden;
}
.inner_copyright p{
    margin: 0;
    color: #919191;
    font-size: 12px;
}

.left_copyright{
    float: left;
    width: 60%;
}
.right_copyright{
    float: right;
    text-align: right;
    width: 40%;
}




























